.form-page{
  background-color: $brand-white;
  input,
  textarea,
  select{
    border: none;
    text-shadow: none;
    box-shadow: none;
    transition: none;
  }
  input:focus,
  textarea:focus,
  select:focus{
    transition: none;
    box-shadow: none;
  }
}
