<div class="container carousel-strip carousel">
  <div class="row">
    <wrap-owlcarousel2 class="owl-carousel col-md-12" render-watch="dummySlider" data-options="{
					loop:true,
			    margin:15,
			    responsiveClass:true,
			    nav:true,
			    dots:false,
			    responsive:{
			        0:{
			            items:1,
			            nav:true
			        },
			        600:{
			            items:3,
			            nav:false
			        },
			        1000:{
			            items:3,
			            nav:true,
			            loop:false
			        }
			    }
         }">
	    <div class="item" ng-repeat="slider in dummySlider">
        <a href="" class="pane-link">
	        <div class="panel panel-default">
            <div class="panel-header">
		          <h3 class="light-font">Lorem Ipsum is simply dummy text of the printing</h3>
	          </div>
            <div class="panel-body no-padding">
               <img src="{{slider.image}}" class="img-responsive">
            </div>
            <div class="panel-footer">
				      	<h4 class="light-font">Lorem Ipsum</h4>							
            </div>
        	</div>
        </a>
	    </div>
    </wrap-owlcarousel2>
	</div>
</div>