<div class="wrapper">
  <div class="container form-page">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
        <form method="post">

          <!-- TEXT INPUT -->
          <div class="form-group ">
            <input class="form-control" id="text" name="text" type="text" placeholder="Text"/>
          </div>

          <div class="form-group ">
            <input class="form-control" id="name" name="name" type="text" placeholder="Name" />
          </div>

          <div class="form-group ">
            <input class="form-control" id="subject" name="subject" type="text" placeholder="Subject"/>
          </div>

          <!-- EMAIL INPUT -->
          <div class="form-group ">
            <span class="asteriskField"> * </span>
            <input class="form-control requiredField" id="email" name="email" type="text" placeholder="Email"/>
          </div>

          <!-- TEXT INPUT for NUMBER -->
          <div class="form-group ">
            <input class="form-control" id="number" name="number" type="text" placeholder="Number"/>
          </div>
          <div class="form-group ">
            <input class="form-control" id="tel" name="tel" type="text" placeholder="Telephone"/>
          </div>
          <div class="form-group ">
            <input class="form-control" id="url" name="url" type="text" placeholder="URL"/>
          </div>
          <div class="form-group ">
            <input class="form-control" id="date" name="date" type="text" placeholder="MM/DD/YYYY"/>
          </div>

          <!-- TEXTAREA -->
          <div class="form-group ">
            <textarea class="form-control" cols="40" id="textarea" name="textarea" rows="10" placeholder="Paragraph"></textarea>
          </div>
          <div class="form-group ">
            <textarea class="form-control" cols="40" id="message" name="message" rows="10" placeholder="Message"></textarea>
          </div>


          <!-- CHECKBOX -->
          <div class="form-group ">
            <label class="control-label ">
              Check all that apply
            </label>
            <div class=" ">
              <div class="checkbox">
                <label class="checkbox">
                  <input name="checkbox" type="checkbox" value="First Choice"/>
                  First Choice
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox">
                  <input name="checkbox" type="checkbox" value="Second Choice"/>
                  Second Choice
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox">
                  <input name="checkbox" type="checkbox" value="Third Choice"/>
                  Third Choice
                </label>
              </div>
            </div>
          </div>

          <!-- DROPDOWN / SELECT -->
          <div class="form-group ">
            <label class="control-label " for="select">
              Select a Choice
            </label>
            <select class="select form-control" id="select" name="select">
              <option value="First Choice">
                First Choice
              </option>
              <option value="Second Choice">
                Second Choice
              </option>
              <option value="Third Choice">
                Third Choice
              </option>
            </select>
          </div>

          <!-- RADIO -->
          <div class="form-group ">
            <label class="control-label ">
              Select a Choice
            </label>
            <div class="">
              <div class="radio">
                <label class="radio">
                  <input name="radio" type="radio" value="First Choice"/>
                  First Choice
                </label>
              </div>
              <div class="radio">
                <label class="radio">
                  <input name="radio" type="radio" value="Second Choice"/>
                  Second Choice
                </label>
              </div>
              <div class="radio">
                <label class="radio">
                  <input name="radio" type="radio" value="Third Choice"/>
                  Third Choice
                </label>
              </div>
            </div>
          </div>

          <!-- SUBMIT Button -->
          <div class="form-group">
            <div>
              <button class="btn btn-primary " name="submit" type="submit">
                Submit
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

