<div class="wrapper-one">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="/"><img src="/images/tgwc-sacfold.jpg" class="logo img-responsive"></a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
      </div>
    </div>
  </div>
</div>
<div class="wrapper-two">
  <div class="container">
    <nav class="horizontal-scroll-nav">
      <ul class="nav nav-justified scroll">
        <li><a href="/inline-content-entities">Strips</a></li>
        <li><a href="/components">Components</a></li>
        <li><a href="/page">page template</a></li>
        <li><a href="/timeline">timeline</a></li>
        <li><a href="/forms">Form</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>


