<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-title">Inline content entities or AKA Strips</h1>
		</div>
	</div>
</div>


<div class="container element-title">
	<div class="row">
		<div class="col-md-12">
			<pre>Text centered strip</pre>
		</div>
	</div>
</div>


<div ng-include src="'/templates/inline-content/center-text.html'"></div>


<div class="container element-title">
	<div class="row">
		<div class="col-md-12">
			<pre>Two text col strip with header and wrapper</pre>
		</div>
	</div>
</div>


<div ng-include src="'/templates/inline-content/text-2-col.html'"></div>


<div class="container element-title">
	<div class="row">
		<div class="col-md-12">
			<pre>Three col text strip</pre>
		</div>
	</div>
</div>


<div ng-include src="'/templates/inline-content/text-3-col.html'"></div>

<div class="container element-title">
	<div class="row">
		<div class="col-md-12">
			<pre>Carousel strip</pre>
		</div>
	</div>
</div>


<div ng-include src="'/templates/inline-content/carousel.html'"></div>


<div class="container element-title">
	<div class="row">
		<div class="col-md-12">
			<pre>Slideshow with wrapper</pre>
		</div>
	</div>
</div>


<div ng-include src="'/templates/inline-content/slideshow.html'"></div>


<div class="container element-title">
	<div class="row">
		<div class="col-md-12">
			<pre>Map with address street ng-map dependancy</pre>
		</div>
	</div>
</div>


<div ng-include src="'/templates/inline-content/map-strip.html'"></div>







